<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{static_url('css/all.css')}}" rel="stylesheet">
    <title>QuickQuant</title>
</head>
<body>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">QuickQuant</a>
	        </div>
	    
            <div id='navbar'>
                <ul class="nav navbar-nav">
                    <li><a href="#">Space</a></li>
		            <li><a href="/policy/rule">Policy</a></li>
                </ul>
                <form class="navbar-form navbar-left" id="searchform">
                </form>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        {% if current_user %}
                            <label style="color:#337ab7">welcome</label>
                            <a href="#">{{current_user}}</a>
                            <label style="color:#ffffff">/</label>
                            <a class="" href="/auth/logout">Logout</a>
                        {% else %}
                            <a class="btn btn-default" href="/auth/signin">Sign in</a>
                            <a class="btn btn-success" href="/auth/signup">Sign up</a>
                        {% end %}
                    </div>
                </form>
            </div>
	    </div>
    </nav>

</body>
</html>

