{% extends 'policy.html' %}
{% block content %}

<form  class = "form-horizontal form-layout" method="post">
    <h2 class="form-signin-heading">Create rule</h2>
        {% for key,field in form.fields() %}
            <div class="form-group">
			    <label class="col-sm-3 control-label">{{field.label}}</label>
                <div class="col-sm-9">
                    <input class="form-control" type="{{field.type}}" value="{{field.value}}" name="{{key}}" />
                     {% for error in field.errors %}
                        <ul class="errorlist">
                            <li>{{error}}</li>
                        </ul>
                     {% end%}
                </div>
		    </div>
        {% end %}
         <div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn-submit btn btn-default">确定</button>
			</div>
		</div>
</form>
{% end%}