{% include 'policy_base.html' %}
<div class="container-fluid workplace">
	<div class="raw" style="height:100%">
		<div class="col-md-3 mid-container" >
			<div class="toolbar-container" >
			  <a class="btn btn-default" href="/policy/rule/create">
			     <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			  </a>
			  <button type="button " class="btn btn-default">
			     <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			  </button>
			</div>
			<ul class="list-group">
			{% for item in rules%}
				<li class="list-group-item">
					<a href="/policy/rule/{{item.id}}">{{item.name}}</a>
				</li>
			{%end%}
			</ul>
		</div>
		<div class="col-md-9">
			{% block content%}
				{% if crule %}
					{{crule["code"]}}
				{% end %}
			{% end%}
		</div>
	</div>
</div>